body {
  font-family: "Lato", sans-serif;
  background: url("../images/background.jpg") center/cover no-repeat;

  @media screen and (max-width: 768px) {
    background: none;
  }

}


@import '~node_modules/modern-normalize/modern-normalize.css';

.section-title{
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: center;
margin-bottom: 35px;
font-weight: bold;
margin-top: 35px;
}