<section>
<div class="container">
    <h1 class="title-game">Популярні інтерактивні ігри</h1>
    <h2 class="born-year-title">Перевірь в який рік ти народилися</h2>
    <div class="born-year-container">
    <div class="born-year-section">
        <input class="born-year-input" type="number" placeholder="Введіть рік народження" id="yearInput">
        <button type="submit" class="born-year-btn" data-btnYear >
            <svg class="born-year-svg" width="15" height="15">
            <use xlink:href="./images/games.svg#icon-search"></use>
            </svg>
        </button>
    </div>
    <span class="born-year-text" id="result"></span>
    </div>
</div>
</section>