<footer class="footer">
    <div class="container">
      <img src="images/footer/footer-logo.png" alt="logo" class="footer-logo">
      <div class="footer-contacts">
        <ul class="footer-list">
          <li class="footer-items"><a href="tel: +3801231567890" class="footer-phone">Тел.: +38 (123) 456-78-90</a></li>
          <li class="footer-items"><a href="mail: codingmagic@gmail.com" class="footer-mail">E-mail: codingmagic@gmail.com</a></li>
          <li class="footer-items"><a href="https://www.facebook.com/profile.php?id=100069122381468" class="footer-facebook">Facebook: CodingMagic</a></li>
          <li class="footer-items"><a href="https://x.com/codingmagic" class="footer-x">Twitter: CodingMagic</a></li>
          <li class="footer-items"><a href="https://www.instagram.com/codingmagic/" class="footer-instagram">Instagram: CodingMagic</a></li>
        </ul>
      </div>

      <div class="footer-subscribe">
        <form class="footer-form">
          <input type="email" class="footer-input" placeholder="Ваша ел. адреса…" required>
          <button type="submit" class="footer-submit">Підписатись</button>
        </form>
        <p class="footer-note">
          *Підписавшись, Ви зможете отримувати інформацію про новини на сайті
        </p>
      </div>
    </div>
  </footer>