<footer class="footer">
    <ul class="footer-list">
      <li class="footer-item">
        <img
          src="images/footer/footer-logo.png"
          alt="logo"
          class="footer-logo"
        />
      </li>
      <li class="footer-item">
        <div class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-items">
              <a href="tel: +3801231567890" class="footer-phone footer-link"
                >Тел.: +38 (123) 456-78-90</a
              >
            </li>
            <li class="footer-contacts-items">
              <a href="mail: codingmagic@gmail.com" class="footer-mail footer-link"
                >E-mail: codingmagic@gmail.com</a
              >
            </li>
            <li class="footer-contacts-items">
              <a
                href="https://www.facebook.com/profile.php?id=100069122381468"
                class="footer-facebook footer-link"
                >Facebook: CodingMagic</a
              >
            </li>
            <li class="footer-contacts-items">
              <a href="https://x.com/codingmagic" class="footer-x footer-link"
                >Twitter: CodingMagic</a
              >
            </li>
            <li class="footer-contacts-items">
              <a
                href="https://www.instagram.com/codingmagic/"
                class="footer-instagram footer-link"
                >Instagram: CodingMagic</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="footer-item">
        <div class="footer-subscribe">
          <form class="footer-form">
            <input
              type="email"
              class="footer-input"
              placeholder="Ваша ел. адреса…"
              required
            />
            <button type="submit" class="footer-submit">Підписатись</button>
          </form>
          <p class="footer-note">
            *Підписавшись, Ви зможете отримувати інформацію про новини на сайті
          </p>
        </div>
      </li>
    </ul>
</footer>
