<header class="header">
  <img src="images/footer/footer-logo.png" alt="Coding Magic Logo" class="header-logo-img" />

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-dropdown header-nav-element">
        <a href="#" class="header-nav-link">Інтерактив 🡫</a>
        <ul class="header-nav-submenu">
          <li><a href="#" class="header-submenu-link">Числовий</a></li>
          <li><a href="#" class="header-submenu-link">Ігровий</a></li>
          <li><a href="#" class="header-submenu-link">Ознайомчий</a></li>
        </ul>
      </li>
      <li class="header-nav-element"><a href="#" class="header-nav-link">Наша команда</a></li>
      <li class="header-nav-element"><a href="#" class="header-nav-link">Контакти</a></li>
    </ul>
  </nav>

  <div class="user-controls">
    <button class="theme-toggle">
      <span class="header-toggle-icon">☀</span>
    </button>
    <span class="greeting">Вітаємо, User!</span>
  </div>

  <div class="user-info-mobile">
    <button class="theme-toggle">
      <span class="header-toggle-icon">☀</span>
    </button>
    <span class="greeting">Вітаємо, User!</span>
  </div>
</header>
