<header class="header">
<div class="container">
    <img src="#" alt="#" class="logo">
    <nav class="nav-header">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#" class="nav-page">Інтерактив</a>
        </li>
        <li class="nav-item">
            <a href="#" lass="nav-page">Наша команда</a>
        </li>
        <li class="nav-item">
            <a href="#" lass="nav-page">Контакти</a>
        </li>
    </ul>
    <div class="right-section">
        <input type="checkbox" id="theme-toggle">
        <label for="theme-toggle"></label>
        <span class="user-span">Вітаємо, User!</span>
    </div>
    </nav>
</div>
</header>