<header class="header">
<div class="container">
    <img src="#" alt="#" class="logo">
    <nav class="nav-header">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#" class="nav-page"></a>
        </li>
        <li class="nav-item">
            <a href="#" lass="nav-page"></a>
        </li>
        <li class="nav-item">
            <a href="#" lass="nav-page"></a>
        </li>
    </ul>
    <ul class="header-contacts">
        <li>

        </li>
        <li class="header-contact">
            <p class="contacts-page">Вітаємо, </p>
        </li>
    </ul>
    </nav>
</div>
</header>