<section class="max-number">
    <div class="container">
        <hr>
        <h2 class="max-number-title">Введіть 3 числа</h2>
        <ul class="max-number-list">
            <li class="max-number-item"><input type="number" placeholder="Введіть число" class="max-number-input"></li>
            <li class="max-number-item"><input type="number" placeholder="Введіть число" class="max-number-input"></li>
            <li class="max-number-item"><input type="number" placeholder="Введіть число" class="max-number-input"></li>
        </ul>
        <p class="max-number-number">Найбільше число, яке ви ввели - <span class="biggest-number">0</span></p>
    </div>
</section>