<div class="modal" id="welcomeModal">
    <div class="modal-content">
        <span class="modal-close" id="modalClose">&times;</span>
        <p class="modal-welcome-text">Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно провести час!</p>
        <p class="modal-enter-name-text">Введіть своє ім’я:</p>
        <input type="text" placeholder="Ваше ім’я..." class="modal-input">
        <button type="submit" class="modal-save-button">Зберегти</button>
    </div>
</div>