<section>
    <div class="container">
        <p>Каміть - ножиці - папір</p>
        <ul>
            <li>
                <button type="submit"><img src="images/stone.png" alt="stone"></button>
            </li>
            <li>
                <button type="submit"><img src="images/scissors.png" alt="scissors"></button>
            </li>
            <li>
                <button type="submit"><img src="images/paper.png" alt="paper"></button>
            </li>
        </ul>
        <ul>
            <li><p>Рахунок:</p></li>
            <li>Комп’ютер - <span>0</span></li>
            <li>Ви - <span>0</span></li>
        </ul>
        <p>Ви виграли раунд!</p>
        <button type="submit">Варіант комп'ютера</button>
    </div>
</section>