<section>
    <div class="container rock-paper-scissors-container">
         <hr>
        <h2 class="section-title">Каміть - ножиці - папір</h2>
        <div class="rock-paper-scissors-box">
        <ul class="rock-paper-scissors-list">
            <li class="rock-paper-scissors-items">
                <button class="rock-paper-scissors-btn" id="stoneBtn" type="button"><img src="./images/stone.png" alt="stone"></button>
            </li>
            <li class="rock-paper-scissors-items">
                <button class="rock-paper-scissors-btn" id="scissorsBtn" type="button"><img src="images/scissors.png" alt="scissors"></button>
            </li>
            <li class="rock-paper-scissors-items">
                <button class="rock-paper-scissors-btn" id="paperBtn" type="button"><img src="images/paper.png" alt="paper"></button>
            </li>
        </ul>
        <ul class="scoreboard">
            <li class="scoreboard"><p class="score-text">Рахунок:</p></li>
            <li class="computer-score">Комп’ютер - <span class="score-value" id="computerScore">0</span></li>
            <li class="player-score">Ви - <span class="score-value" id="playerScore">0</span></li>
        </ul>
        </div>
        <div >
        <p id="message" class="game-message" >Результат гри...</p>
        <p class="computer-choice" id="computerChoice" >Варіант комп'ютера</p>
        </div>
    </div>
</section>