<section>
    <div class="container">
        <p>Каміть - ножиці - папір</p>
        <ul>
            <li>
                <button id="stoneBtn" type="submit"><img src="images/stone.png" alt="stone"></button>
            </li>
            <li>
                <button id="scissorsBtn" type="submit"><img src="images/scissors.png" alt="scissors"></button>
            </li>
            <li>
                <button id="paperBtn" type="submit"><img src="images/paper.png" alt="paper"></button>
            </li>
        </ul>
        <ul>
            <li><p>Рахунок:</p></li>
            <li>Комп’ютер - <span id="computerScore">0</span></li>
            <li>Ви - <span id="playerScore">0</span></li>
        </ul>
        <p id="message">Ви виграли раунд!</p>
        <button id="computerChoiceBtn" type="submit">Варіант комп'ютера</button>
    </div>
</section>