<section class="section-scientists">
  <div class="container">
    <hr class="scientists-line" />
    <h1 class="scientists-title">Обери фільтр вченого або вчених</h1>
    <ul class="scientists">
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
    </ul>
    <ul class="scientist-filter-list">
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">Які вчені народилися в 19 ст.</button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">Відсортувати вчених за алфавітом</button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Знайти рік народження Альберт Ейнштейн
        </button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientist-filter-item">
        <button class="scientist-filter-button">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="scientist-filter-item scientist-last">
        <button class="scientist-filter-button">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
