  <section class="section-team">
    <div class="container">
      <hr class="team-line" />
      <h1 class="team-title">Наша команда</h1>
      <div id="team-container" class="team-container">
        <button class="team-button team-button-left" id="team-button-left">
          <img
            src="images/team/arrow-left.png"
            alt="arrow left"
            class="team-arrow team-arrow-left"
            width="50"
            height="100"
          />
        </button>

        <div class="team-items">
          <div class="team-photo-container">
            <img class="team-photo" id="team-photo">
          </div>
          <h1 class="team-name">Ім’я студента</h1>
          <p class="team-info">Інформація про роботу, яку він/вона виконав/ла</p>
        </div>

        <button class="team-button team-button-right" id="team-button-right">
          <img
            src="images/team/arrow-right.png"
            alt="arrow right"
            class="team-arrow team-arrow-right"
            width="50"
            height="100"
          />
        </button>
      </div>

      <div class="team-indicators">
        <svg class="team-svg-indicators" height="4"
            width="20">
          <use
            href="images/games.svg#icon-small-indicator"
            class="team-use-indicators"
            
          ></use>
        </svg>
        <svg class="team-svg-indicators"  height="4"
            width="20">
          <use
            href="images/games.svg#icon-small-indicator"
            class="team-use-indicators"
           
          ></use>
        </svg>
        <svg class="team-svg-indicators"  height="4"
            width="20">
          <use
            href="images/games.svg#icon-small-indicator "
            class="team-use-indicators"
           
          ></use>
        </svg>
      </div>
    </div>
  </section>
