<section>
  <div class="container">
    <hr class="team-line" />
    <h2 class="time-calculator-title">Калькулятор часу</h2>
    <div class="time-calculator-row">
      <div class="time-calculator-input-container">
        <input
          class="time-calculator-input"
          type="number"
          placeholder="Введіть число"
        />
        <button class="time-calculator-btn" type="button">
          <svg class="time-calculator-svg" width="15" height="15">
            <use xlink:href="./images/games.svg#icon-search"></use>
          </svg>
        </button>
      </div>

      <span class="time-calculator-dots">...............................</span>
      <span id="time-calculator-output">0 дн. 00:00:00</span>
    </div>
    <div class="time-calculator-values">
      <button
        data-unit="hours"
        id="calculatorHours"
        class="time-calculator-time"
      >
        год
      </button>

      <button
        data-unit="minutes"
        id="calculatorMinutes"
        class="time-calculator-time"
      >
        хв
      </button>

      <button
        data-unit="seconds"
        id="calculatorSeconds"
        class="time-calculator-time"
      >
        сек
      </button>
    </div>
  </div>
</section>
