<h2 class="time-calculator-title">Калькулятор часу</h2>
<div>
  <div>
    <input
      class="time-calculator-input"
      type="number"
      placeholder="Введіть число"
    />
    <button class="time-calculator-btn" type="button">Заміна поки SVG не добавлю</button>
  </div>

  <div>
    <button data-unit="hours" id="calculatorHours">год</button> /
    <button data-unit="minutes" id="calculatorMinutes">хв</button> /
    <button data-unit="seconds" id="calculatorSeconds">сек</button>
  </div>

  <span class="time-calculator-dots">...............................</span>
  <span id="time-calculator-output">0 дн. 00:00:00</span>
</div>
